button{
    background-color: hsl(245, 75%, 52%);
    border-radius: 18px;
    width: 285px;
    height: 53px;
    border: none;
    margin: auto;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    display: block;
    box-shadow: 5px 22px 5px 2px hsl(225, 100%, 98%);
    cursor: pointer;
    z-index: 100;
}
button:hover{
    background-color: hsl(224, 23%, 55%);
}

.cancel{
    display: block;
    padding-top: 26px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 14px;
}
.cancel:hover{color: hsl(223, 47%, 23%)}
